@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    
}
header{
    height: 64px;
}
.fondo {
    background-color: #F6F8FA;
}

.small-text {
    font-size: 14px;
    
}

.btn.btn-outline-secondary {
    font-size: 0;
    padding: 2px 2px 2px 2px;

}

.alert {
    background-color: #FFF8C5;
}

.borde {
    border: 1px solid #D6D8DB;
    border-radius: 6px;
}
.activity{
    border: 1px dashed #D6D8DB;
    border-radius: 6px;
    margin: 10px 0 10px 0;
}
.activity p{
    font-size: 12px;
    margin: 0 auto;
    padding: 15px;
}
.pagina{
    width: 100%;
    height: 100%;
}
.updates{
    background:var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%));
}