<header class="d-flex flex-wrap justify-content-center py-3  p-3  border-bottom cursor-hover fondo">
  <a class="btn btn-outline-secondary p-2 borde" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
    aria-controls="offcanvasExample">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
    </svg>
  </a>
  <a href="/" class="d-flex align-items-center  mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="32" fill="currentColor" class="bi bi-github"
      viewBox="0 0 16 16">
      <path
        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
    </svg>
    <span>
      <strong style="font-size: 14px;">Dashboard</strong>
    </span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item dropdown mr-3">
      <a class="nav-link btn btn-outline-secondary p-2 borde dropdown-toggle" href="#" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"
          class="octicon octicon-plus">
          <path
            d="M7.75 2a.75.75 0 0 1 .75.75V7h4.25a.75.75 0 0 1 0 1.5H8.5v4.25a.75.75 0 0 1-1.5 0V8.5H2.75a.75.75 0 0 1 0-1.5H7V2.75A.75.75 0 0 1 7.75 2Z">
          </path>
        </svg>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li class="nav-item mr-3">
      <button type="button" class="btn btn-outline-secondary p-2 borde">
        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"
          class="octicon octicon-plus">
          <path
            d="M7.75 2a.75.75 0 0 1 .75.75V7h4.25a.75.75 0 0 1 0 1.5H8.5v4.25a.75.75 0 0 1-1.5 0V8.5H2.75a.75.75 0 0 1 0-1.5H7V2.75A.75.75 0 0 1 7.75 2Z">
          </path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill"
          viewBox="0 0 16 16">
          <path
            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
        </svg>
      </button>
    </li>
    <li class="nav-item mb-3 mb-md-0 me-md-auto">
      <button type="button" class="btn btn-outline-secondary p-2 borde">
        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"
          class="octicon octicon-issue-opened Button-visual">
          <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
          <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Z"></path>
        </svg>
      </button>
    </li>
    <li class="nav-item mr-3">
      <button type="button" class="btn btn-outline-secondary p-2 borde">
        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"
          class="octicon octicon-git-pull-request Button-visual">
          <path
            d="M1.5 3.25a2.25 2.25 0 1 1 3 2.122v5.256a2.251 2.251 0 1 1-1.5 0V5.372A2.25 2.25 0 0 1 1.5 3.25Zm5.677-.177L9.573.677A.25.25 0 0 1 10 .854V2.5h1A2.5 2.5 0 0 1 13.5 5v5.628a2.251 2.251 0 1 1-1.5 0V5a1 1 0 0 0-1-1h-1v1.646a.25.25 0 0 1-.427.177L7.177 3.427a.25.25 0 0 1 0-.354ZM3.75 2.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5Zm0 9.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5Zm8.25.75a.75.75 0 1 0 1.5 0 .75.75 0 0 0-1.5 0Z">
          </path>
        </svg>
      </button>
    </li>
    <li class="nav-item mr-3">
      <button type="button" class="btn btn-outline-secondary p-2 borde">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-search pointer-hover" viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
            class="pointer-hover"></path>
        </svg>
      </button>
    </li>
    <li class="nav-item mr-3">
      <button type="button" class="btn btn-outline-secondary p-2 borde">
        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"
          class="octicon octicon-inbox Button-visual">
          <path
            d="M2.8 2.06A1.75 1.75 0 0 1 4.41 1h7.18c.7 0 1.333.417 1.61 1.06l2.74 6.395c.04.093.06.194.06.295v4.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25v-4.5c0-.101.02-.202.06-.295Zm1.61.44a.25.25 0 0 0-.23.152L1.887 8H4.75a.75.75 0 0 1 .6.3L6.625 10h2.75l1.275-1.7a.75.75 0 0 1 .6-.3h2.863L11.82 2.652a.25.25 0 0 0-.23-.152Zm10.09 7h-2.875l-1.275 1.7a.75.75 0 0 1-.6.3h-3.5a.75.75 0 0 1-.6-.3L4.375 9.5H1.5v3.75c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25Z">
          </path>
        </svg>
      </button>
    </li>

    <li class="nav-item mr-3">
      <button type="button" class="btn">
        <span class="Button-content">
          <span class="Button-label">
            <img src="https://avatars.githubusercontent.com/u/145786543?v=4" alt="" class="rounded-circle" width="32"
              height="32">
          </span>
        </span>
      </button>
    </li>
  </ul>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists,
        etc.
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<body>
  <!--Alert
  <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center justify-content-between top-0 "
    role="alert" style="margin-bottom: 0px;">
    <div class="small-text">
      <i class="bi bi-exclamation-triangle"></i>
      GitHub users are <a href="#">now required</a> to enable two-factor authentication as an additional security
      measure.
      Your activity
      on GitHub includes you in this requirement. You will need to enable two-factor authentication on your account
      before
      January 26, 2024, or be restricted from account actions.
    </div>
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-light  me-4 borde" style="width: 7rem;">
        <strong style="font-size: 14px;">Enable 2FA</strong>
      </button>
      <button type="button" class="btn-close me-3 m-4 " style="width: 1rem;" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
  </div>
  /Alert-->
  <main class="container-fluid d-flex">
    <div class="row no-gutters flex-grow-1">
      <section class="col-md-3">
        <div class="p-2 flex-shrink-0 position-fixed h-100 border-end"
          style="width: 336px;margin-bottom: 0px;margin-top: 0px;">
          <div style="width: 90%;margin: 0 auto;padding-top: 20px;">

            <strong>Top Repositories</strong>
            <button class="btn btn-success text-white " style="width: 5rem;">
              <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                data-view-component="true">
                <path
                  d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z">
                </path>
              </svg> New</button>
            <br>
            <input class="form-control me-2 fondo" type="search" placeholder="Find a repository..." aria-label="Search">
            <ul class="list-group list-group-flush">
              <li class="list-inline-item ">
                <span class="Button-label">
                  <img src="https://avatars.githubusercontent.com/u/145786543?v=4" alt="" class="rounded-circle"
                    width="16" height="16">
                </span>
                <span> CarrascoOliva/visual-global</span>
              </li>
              <li class="list-inline-item ">
                <span class="Button-label">
                  <img src="https://avatars.githubusercontent.com/u/145786543?v=4" alt="" class="rounded-circle"
                    width="16" height="16">
                </span>
                <span> CarrascoOliva/ClimAPI</span>
              </li>
              <li class="list-inline-item ">
                <span class="Button-label">
                  <img src="https://avatars.githubusercontent.com/u/145786543?v=4" alt="" class="rounded-circle"
                    width="16" height="16">
                </span>
                <span> CarrascoOliva/Spotify-Grupo-4</span>
              </li>
              <li class="list-inline-item ">
                <span class="Button-label">
                  <img src="https://avatars.githubusercontent.com/u/145786543?v=4" alt="" class="rounded-circle"
                    width="16" height="16">
                </span>
                <span> CarrascoOliva/Porfolio</span>
              </li>
              <li class="list-inline-item ">
                <span class="Button-label">
                  <img src="https://avatars.githubusercontent.com/u/145786543?v=4" alt="" class="rounded-circle"
                    width="16" height="16">
                </span>
                <span> CarrascoOliva/ClonGitHuB</span>
              </li>
              <li class="list-inline-item ">
                <span class="Button-label">
                  <img src="https://avatars.githubusercontent.com/u/145786543?v=4" alt="" class="rounded-circle"
                    width="16" height="16">
                </span>
                <span> CarrascoOliva/Millonarios</span>
              </li>
              <li class="list-inline-item ">
                <span class="Button-label">
                  <img src="https://avatars.githubusercontent.com/u/145786543?v=4" alt="" class="rounded-circle"
                    width="16" height="16">
                </span>
                <span> CarrascoOliva/pokemon</span>
              </li>
            </ul>
            <span class="small-text">Show more</span>

            <div>
              <span>
                <strong style="font-size: 14px;">Recent activity</strong>
              </span>
              <div class="activity">
                <p>When you take actions across GitHub, we’ll provide links to that activity here.</p>
              </div>
            </div>

          </div>
        </div>
      </section>
      <section class="col-md-6 col-lg-6 px-3 px-sm-3 px-md-0">
        <div class="p-2 flex-shrink-0 position-fixed h-100 w-50">
          <h5 class="p-2 m-1">Home</h5>
          <div class="alert  alert-dismissible fade show border updates" role="alert">

            <h6>Updates to your homepage feed</h6>
            <br>
            <p>We've combined the power of the Following feed with the For you feed so there’s one place to discover
              content on GitHub. There’s improved filtering so you can customize your feed exactly how you like it,
              and a shiny new visual design. ✨</p>
            <a class="Link ml-2 text-bold"
              href="https://github.blog/changelog/2023-09-06-updates-to-your-github-feed/">Learn more</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <header class="d-flex flex-items-center flex-justify-between">
            <div class="d-flex flex-items-center justify-content-between align-items-center w-100 ">
              <div class="d-flex flex-items-center">
                <span class="d-inline-flex p-2 mr-2" style="background-color: #D0D7DE; border-radius: 50%;">
                  <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                    data-view-component="true" class="octicon octicon-code color-fg-subtle">
                    <path
                      d="m11.28 3.22 4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L13.94 8l-3.72-3.72a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215Zm-6.56 0a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L2.06 8l3.72 3.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L.47 8.53a.75.75 0 0 1 0-1.06Z">
                    </path>
                  </svg>
                </span>
                <p class="text-normal color-fg-muted h5"> Start writing code </p>
              </div>
              
              <div style="text-align: right;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                </svg>
              </div>
            </div>
            
          </header>

          <div class="d-flex">
            <div class="col-sm-6 col-md-12 col-xl-6 p-1 m-1  border rounded ">
              <h4 class="mb-2 h5">Start a new repository for CarrascoOliva</h4>
            </div>
            <div class="col-sm-6 col-md-12 col-xl-6 m-1 border rounded ">
              <h4 class="mb-2 h5">Repositories that need your help</h4>
              <span>
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                  data-view-component="true">
                  <path
                    d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z">
                  </path>
                </svg>
                <a href="#">gradle</a> / <a href="#">gradle</a>
              </span>

              <p>Adaptable, fast automation for all</p>

              <br>

              <span>
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                  data-view-component="true">
                  <path
                    d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z">
                  </path>
                </svg>
                <a href="#">joaomatossilva </a> / <a href="#">DateTimeExtensions</a>
              </span>
              <p>This project is a merge of several common DateTime operations on the form of extensions to
                System.DateTime, including natural date difference text (precise and human rounded), holidays and
                working days calculations on several culture locales.</p>
              <br>

              <span>
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                  data-view-component="true">
                  <path
                    d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z">
                  </path>
                </svg>
                <a href="#">joaomatossilva </a> / <a href="#">DateTimeExtensions</a>
              </span>
              <p>This project is a merge of several common DateTime operations on the form of extensions to
                System.DateTime, including natural date difference text (precise and human rounded), holidays and
                working days calculations on several culture locales.</p>
              <br>
              <button type="button" class="btn btn-outline-secondary">
                See more repos with good first issues
              </button>

            </div>
          </div>
          <header class="d-flex flex-items-center flex-justify-between">
            <div class="d-flex flex-items-center justify-content-between align-items-center w-100 ">
              <div class="d-flex flex-items-center">
                <span class="d-inline-flex p-2 mr-2" style="background-color: #D0D7DE; border-radius: 50%;">
                  <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                    data-view-component="true" class="octicon octicon-code color-fg-subtle">
                    <path
                      d="m11.28 3.22 4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L13.94 8l-3.72-3.72a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215Zm-6.56 0a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L2.06 8l3.72 3.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L.47 8.53a.75.75 0 0 1 0-1.06Z">
                    </path>
                  </svg>
                </span>
                <p class="text-normal color-fg-muted h5"> Start writing code </p>
              </div>
              
              <div style="text-align: right;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                </svg>
              </div>
            </div>
            
          </header>
          
        </div>
        
      </section>
      <!--aside-->
      <aside class="col-2 m-5 p-4 border rounded " style="position: fixed; right: 0;" aria-label="Explore">
        <p><strong>Explore repositories</strong></p>
        <p><strong>Homebrew profile Homebrew / homebrew-cask</strong></p>
        <p>🍻 A CLI workflow for the administration of macOS applications distributed as binaries</p>
        <span>20.3k</span>
        <span>Ruby</span>
        <hr>

        <p><strong> microsoft / onnxruntime</strong></p>
        <p>ONNX Runtime: cross-platform, high performance ML inferencing and training accelerator</p>
        <span>11.6k</span>
        <span>C++</span>
        <hr>

        <p><strong> minio / console</strong></p>
        <p>Simple UI for MinIO Object Storage 🧮</p>
        <span>739</span>
        <span>TypeScript</span>
        <br>
        <a href="#">Explore more →</a>
      </aside>
      <!--/aside-->
    </div>
  </main>

</body>
<router-outlet></router-outlet>